* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*::before,
*::after {
    -moz-box-align: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
head,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inhert;
}
input ::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button :mos-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    height: 100%;
    background-color: rgb(234, 212, 244);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.wrapper {
    min-height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
position: relative;
}

.timer::before{
    content: "";
position: absolute;
top: 0;
left: 0;
width: 50%;
height: 100%;
z-index: 3;
background-color: rgb(255, 255, 255);
animation: mask_left 10s steps(1, end) forwards;
}
.timer::after{
    content: "";
position: absolute;
top: 0;
right: 0;
width: 50%;
height: 100%;
z-index: 3;
background-color: rgb(245, 195, 223);
animation: mask_right 10s steps(1, end) forwards;
}
.timer__line {
    position: absolute;
    top: 0;
    left: 0;
width: 100%;
height: 100%;
animation: line 10s linear forwards;
z-index: 2;
}

.timer__line:after {
    content: "" ;
position: absolute;
top: 0;
left: 0;
width: 50%;
height: 100%;
background-color: rgb(245, 195, 223);
}
.timer__body {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(189, 167, 219);
    text-align: center;
    overflow: hidden;
    z-index: 4;
}
.timer__counter {
    animation: counter 10s steps(9, end) forwards;
}
.timer__counter span{
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}

@keyframes counter{
    0%{

    }
    100%{
transform: translate(0px, -1800px);
    }
}

@keyframes line{
    0%{}
    100%{
        transform: rotate(360deg);
    }
}
@keyframes mask_left{
    0%{
        visibility: visible;
    }
50%,
    100%{
        visibility: hidden;
    }
}

@keyframes mask_right{
    0%{
        visibility: hidden;
    }
    50%,
    100%{
        visibility: visible;
    }
}